[run]
branch = True
include =
    project/*
    ./*
omit =
    .*
    venv/*
    */tests*
    */migrations/*
    project/environments/*

[report]
#skip_covered = True

[html]
directory = .coverage_html
